/* CSS HEX */
/* https://coolors.co/fbcaef-fa98d0-48304d-59435d 
--LIGHTBLUE to font in dark background: #ADD8E6; rgb(173,216,230)
-skyblue: #87CEEB rgb(135,206,235);
--steelblue: #4682B4 rgb(70,130,180);
--dodgerblue: #1E90FF rgb(30,144,255)
--midnightblue: #191970 rgb(25,25,112)

--antique-brass: #cb997eff;
--desert-sand: #ddbea9ff;
--champagne-pink: #ffe8d6ff;
--ash-gray: #b7b7a4ff;
--artichoke: #a5a58dff;
--ebony: #6b705cff;
*/

/* Global Styles
---------------------------------------------- */
html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    color: #343434;
    font-family: 'Montserrat', sans-serif;   
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;;
}
img{
    width: 300px;
}
a{
    text-decoration: none;
    color: rgba(72, 48, 77, 80%) ;
}
a:hover{
    text-decoration: none;
}
h1{
    font-size: 100px;
    line-height: 1;
}
h2{
    font-size: 45px;
}
h1,h2{
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 10px 0;
}



/* Profile
---------------------------------------------- */
header{
    background: #cb997e;
    /*color:white;*/
}
header p{
    font-style: italic;  
}

/* Projects
---------------------------------------------- */
.projects{
     background:#b7b7a4;   
    /*color:white;*/
  
}
.projects a{
    color: rgba(72, 48, 77, 80%) ;    
}
.projects .btn{
    color: white;
    background: rgba(72, 48, 77, 80%) ;    
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;

}
.projects .btn:hover{
    /*#a5a58d;*/
    background: rgba(165, 165, 141, 1);
}
.project-item{
    overflow: hidden;
    border-bottom: 1px dashed rgba(72, 48, 77, 80%);
    padding: 25px 0;
}
.project-item h3{
    margin-top: 0;
}

.project-item img{
    float: left;
    margin-right: 20px ;

}

/* work experience
---------------------------------------------- */
.experience{
    background:#ffe8d6;;
    /*color:white;*/
}

/* education
---------------------------------------------- */
.education{
    
    background:#ddbea9; 
   
}

/* Contact Info
---------------------------------------------- */
footer{
    background: #6b705c;    
    color:white;
    flex: 1 0 100%;
}
footer ul{
    list-style: none;
    padding-left: 0;
}
footer a{
    color: white;
}

.ft-social-list {
    border-top: 1px #777 solid; 
    padding: 25px 0;

  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1rem;
  }
  .ft-social-list img{
    width: 30px;
    margin: 0 5px 0 0;
  }

.ft-main-item {
    border-top: 1px #777 solid; 
    display: flex;
    justify-content: center;
    min-width: 12.5rem /*200px*/;
    font-size: 1rem;

  }

